*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

header{
	height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1645453352382-4528c269cd5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
	background-size: cover;
	background-repeat: no-repeat, repeat;
	background-position: center;
	object-fit: cover;
}

nav{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 160px;
	flex-direction: row;
}

ul{
	display: flex;
	flex-direction: row;
	padding: 2em;
}

ul li{
	padding: 0 20px;
	font-size: 18px;
}

ul li a{
	color: white;
	font-family: 'Open Sans', sans-serif;
	border-style: groove;
	border-width: medium;
	padding: 8px 16px;
	border-radius: 25px;
}

footer{
	display: flex;
	justify-content: center;
}
.redes_sociales{
	color: black;
	text-align: center;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 180px;
}

h1{
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	padding-top: 180px;
	font-style: bold;
	font-size: 50px;
}